Project/__pycache__/bullet.cpython-38.pyc
Project/__pycache__/gui.cpython-38.pyc
Project/__pycache__/offline.cpython-38.pyc
Project/__pycache__/request.cpython-38.pyc
Project/__pycache__/tank.cpython-38.pyc
Project/controllers/__pycache__/ai.cpython-38.pyc
Project/controllers/__pycache__/controller.cpython-38.pyc
Project/controllers/__pycache__/player.cpython-38.pyc
.idea/workspace.xml
Project/__pycache__/*
Project/controllers/__pycache__/*
*.pyc
*.pyc
*.pyc
